 <h1>Genres</h1>
 
 <div class="row">
   <div class="col-md-8">
 <!-- #7 -->
     <% @genre.each do |genre| %>
       <div class="media">
         <div class="media-body">
           <h4 class="media-heading">
 <!-- #8 -->
             <%= link_to genre.name, genre %>
           </h4>
           <small>
             <%= genre.description %>
           </small>
         </div>
       </div>
     <% end %>
   </div>
 </div>