<h1>Edit your Story</h1>
<div class="row">
   <div class="col-md-4">
     <p>Guidelines for stories</p>
     <ul>
       <li>Please only post high-quality updates.</li>
       <li>Please make sure your story is still at least 1000 words. There is no maximum size.</li>
       <li>Please remember that even if you check the make public box, if your story contains fewer than 1000 words your story will remain private.</li>
     </ul>
   </div>
   <div class="col-md-8">
      <%= render partial: 'form', locals: { genre: @tale.genre, tale: @tale } %>
   </div>
 </div>

