<h1>Stories</h1>
 <%= link_to "New Story", new_tale_path(@tale), class: 'btn btn-success' %>
 <% @tales.each do |tale| %>
      <div class="media">
     <div class="media-body">
       <h4 class="media-heading">
         <%= link_to tale.title, tale %>
       </h4>
     </div>
   </div>
 <% end %>
