 <h1>
   New <%= @genre.name %> Story
 </h1>
 
 <div class="row">
   <div class="col-md-4">
     <p>Guidelines for stories</p>
     <ul>
       <li>Please do not post stories that are not yours.  Plagiarizers will have their accounts deleted.</li>
       <li>Please post your story in the correct genre.</li>
       <li>Please only post high-quality stories.  If an author repeatedly posts low quality stories their account will be downgraded to standard and will no longer be able to share stories. The quality of stories is determined by up and down votes.  </li>
       <li>Please only post stories that are at least 1000 words.  There is no maximum size.</li>
     </ul>
   </div>
   <div class="col-md-8">
      <%= render partial: 'form', locals: { genre: @genre, tale: @tale } %>
   </div>
 </div>
