<h1>About</h1>
<h4>This website is a place for authors to share their stories in any genre. Since we want as many people as possible to read the stories everyone can read them. Only users who sign up can comment, vote, and favorite stories. <br> <br>
If you want to be an author, please email a sample story to ijsimon@sbcglobal.net using the subject Story. If your story gets approved you will receive instructions on how to be upgraded to an author level user at which point you will be able to submit all your stories in real time. 
</h4>
