<div class="home">
<h1>About</h1>
<h4>This website is a place for authors to share their stories where everybody can read them.  The stories here are organized by genre where they appear based on their ranking.  Their ranking considers both the voting of users and time.  The older the story the lower it's ranking, so just because a story is ranked lower that does not mean it is a bad story.  For more information, such as how you can share your stories with the world, please see our frequently asked questions page.</h4>
</div>
