<%= render partial: 'layouts/header' %>
<div class="home main">
<h1>Frequently Asked Questions</h1>
<h2>I signed up, but I still cannot share my stories.  What do I need to do to share my stories?</h2>
<h4>All you do is email a sample story to storytime1002@gmail.com.  If that story is a high-quality story you will receive an email stating that your profile has been updated to author level and can post all your stories.</h4>
<h2>What makes a high quality story?</h2>
<h4>While many things make a high-quality story it is important for the stories posted on this website to have as few typos as possible.  We understand that perfection is impossible, but if typos interfere with the flow of the story there are too many.  The story should have an uninterrupted flow.  If the reader needs to stop your story to decipher what is going on in your story, it is not a good story.  Write a story you would enjoy reading.  The more you like your story the more likely it is a high-quality story.  The topic of your story is irrelevant.  There are high-quality stories on a variety of topics including unpleasant ones, if you enjoy writing stories on unpleasant please do.  Just make sure you submit your story under the appropriate genre. </h4>
<h2>Are there any requirements for my stories?</h2>
<h4>Once you become an author there are no requirements for publishing additional stories.  We recommend writing your stories in a word processor prior to posting them to help with typos; however, if you want to write your story on this website you can.  Your story will remain private until you check the make it public box and you can edit your story as many times as needed on this website.</h4>
<h2>I signed up, but I do not want to be an author yet.  What can I do?</h2>
<h4>Once you sign up you become a standard user.  You can vote, favorite, and comment on stories.  The only thing you cannot do is write them.</h4>
<h2>What if I do not want to sign up at all?</h2>
<h4>We want as many people as possible to read our author's stories, so anyone can read them.  You can view all the content on the website, but you cannot create any without signing up.</h4>
</div>