   <h1 class="middle">The beginning of three amazing stories.  Click on the link to read the rest.</h1>
 <div class="row">
   <div class="col-md-4">
     <h3>Story X by Y</h3>
     <p>Story X <%= link_to "Continue", genre_tale_path(1, 10), :class => 'navbar-link'  %></p>
   </div>
   <div class="col-md-4">
     <h3>Sympathy for the Devil by <%= link_to "Isaac Simon", profile_path(1), :class => 'navbar-link'  %></h3>
     <p>You may know me by one of my many names such as Lucifer, Satan, or the Devil and this is my story. <%= link_to "Continue", genre_tale_path(6, 2), :class => 'navbar-link'  %></p>
   </div>
   <div class="col-md-4">
     <h3>Story Z by A</h3>
     <p>Story Z  <%= link_to "Continue", genre_tale_path(3, 8), :class => 'navbar-link'  %></p>
   </div>
 </div>